@layer base {
    img {
        @apply object-cover
    } 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .shadow-gray{
        box-shadow: rgba(125, 106, 3, 0.8) 5px 5px, rgba(194, 165, 5, 0.3) 10px 10px, rgba(231, 197, 6, 0.2) 15px 15px, rgba(236, 248, 58, 0.1) 20px 20px, rgba(247, 255, 115, 0.05) 25px 25px;
    }
    .card{
        background-color: #404240;
        height: 78%;
        transition-duration: 500ms;
        width: 50%;
        flex: none;
        border-radius: 0.75rem;
        --tw-bg-opacity: 1;
        background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    }
    .img-card{
        border-radius: 0.75rem;
        object-fit: cover;
    }
}